    .App {
  text-align: center;
  display: flex;
  height: 100%;
  background-color: black;
  min-height: 100vh;
  align-items: center;
}

.App h1 {
  color: #5A4FCF;
  margin: .25em;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 5em;
}

.App h2 {
  color: #3FE0DE;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}

.App h3 {
  color: #89CFF0;
  font-family: 'Lato', sans-serif;
}
.App label {
  color: #81d8d0;
  font-family: 'Lato', sans-serif;
}

.party-on button {
  background-color: #89CFF0;
  color: black;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.5em;
}

.form-container {
  padding: 1em;
  margin: 1em;
  padding-top: 3em;
}

.hit button {
  background-color: #89CFF0;
  color: black;
  border: 0 transparent solid;
  margin: .25em;
}

.nailed-them button {
  background-color: #81d8d0;
  color: black;
  border: 0 transparent solid;
  margin: .25em;
}

.margin-pad-me {
  padding: 1em;
  margin: 1em;
}

.ship {
  font-size: 4em;
  color: #3FE0DE;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
